<h1>Servicios</h1>

<div id="services">
  <% @services.each do |service| %>
    <%= render service %>
    <p>
      <%= link_to "Show this service", service %>
    </p>
  <% end %>
</div>

<% if current_client.present? && (current_client.role == "admin") %>
  <%= link_to "New service", new_service_path %>
<%else%>
<%end%>