<h1>Edificios</h1>

<div id="buildings">
  <% @buildings.each do |building| %>
    <div class="border p-2 mb-2"><%= render building %></div>
  <% end %>
</div>


<% if current_client.present? && (current_client.role == "admin") %>
  <%= link_to "New building", new_building_path %>
<%else%>
<%end%>