<h1>Edificios</h1>

<div id="buildings">
  <% @buildings.each do |building| %>
    <%= render building %>
    <p>
      <%= link_to "Show this building", building %>
    </p>
  <% end %>
</div>


<% if current_client.present? && (current_client.role == "admin") %>
  <%= link_to "New building", new_building_path %>
<%else%>
<%end%>