<h1>Comunas</h1>

<div id="districts">
  <% @districts.each do |district| %>
    <%= render district %>
    <p>
      <%= link_to "Show this district", district %>
    </p>
  <% end %>
</div>

<% if current_client.present? && (current_client.role == "admin") %>
  <%= link_to "New district", new_district_path %>
<%else%>
<%end%>