<h1>Editing apartment</h1>

<%= render "form", apartment: @apartment %>

<br>

<div>
  <%= link_to "Show this apartment", @apartment %> |
  <%= link_to "Back to apartments", apartments_path %>
</div>
