<p style="color: green"><%= notice %></p>

<h1>Apartments</h1>

<div id="apartments">

  <div class="row">
    <% @apartments.each do |apartment| %>
      <div class="col-4">
        <%= render partial: 'alterApartment', locals: { apartment: apartment } %>
      </div>
    <% end %>
  </div>
</div>


<%= link_to "New apartment", new_apartment_path %>
